/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
    color: #FFFFFF;
}

.container {
    text-align: center;
    background: #1E1E1E;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navigation button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background: #ff6f61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background: #de1a1a;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
    background: linear-gradient(135deg, #ff6f61, #de1a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#input-container, #input-container-cok, #input-container-bebas, #input-container-bau {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    max-width: 300px;
    border: 2px solid #ff6f61;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ff6f61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #de1a1a;
}

#khodam-result-container, #cok-result-container, #bebas-result-container, #bau-result-container {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #282828;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #ff6f61;
}
